body{
	font-family: 'Poppins', sans-serif;
	color: #0A0909;
}


a {
	color: #1D1D1F;
	text-decoration: none;
}
header {
	display: flex;
  justify-content: space-between;
  /* basic styling */
  padding: 1.5rem 1.5rem;
  background-color: #FFE2D1;
  border-bottom: 1rem solid #89B0AE;

	
}

header a{
	color: #0A0909;
}


header .logo {
	margin-bottom: auto;
	width:  15rem;
}

/* Hero */

.hero {
	position:relative;
	background: url(../img/bibi-pace-S50d9oxCVGc-unsplash.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 60vh;

}

.hero-text{
	position:absolute;
	bottom: 2.25rem;
	right: 1rem;
	text-align: right;

}

.hero-text h1{
	color: #0F4C5C;
}

.hero-text a{
	background-color:#89B0AE;
	color:#0A0909;
	padding: .5rem 1rem;
	display:inline-block;
	border-radius: 15px;

}

.hours{
	padding:1.5rem 1.5rem 3rem 1.5rem;
	background-color:#F5F5F5; 
}
address{
	font-style:normal;
	padding-top: 2rem;
}



.fa-solid{
	color: #89B0AE;
	font-size: 2rem;
	padding: 1.5rem 1rem;
}
.logo{
	margin-bottom: 0.5rem;
	margin-top: 0rem;
	margin-right: 1.5rem;
	margin-left: 1.5rem;

}

nav {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #89B0AE;
	/* Needed for animation/transition */
	transform: translate(0);
	transition: all .4s;
  }

  nav a {
	font-size: 3rem;
	color: #707070;
  }

  nav a:hover {
	color: #fff;
	padding: 10 rem;

}
  
  nav ul {
	margin: auto;
	padding: 0;
	list-style: none;
	text-align: center;
  }
  
  .menu-open,
  .menu-close {
	background-color: transparent;
	border: 0;
	color: #fff;
	text-transform: capitalize;
	cursor: pointer;
  }
  
  .menu-close {
	position: fixed;
	right: 1.5rem;
	top: 3rem;
	font-size: 2rem;
	font-weight: 400;
	
  }
  
  .hide {
	transform: translateX(100%);
  }

ul{
	padding:  0;
	margin:  0;
	list-style: none;
}
li {
	/* display: inline-block; */
}

.services {
	padding:1.5rem;
	display: block;

	
	
}
.services img {
	width:100%;
	border-radius: 15px;
	display:block;
}

.main-content {
	padding: 1.5rem;
}
.side-content {
  	padding: 1.5rem;
  }
.main-content img {
	width: 100%;
	border-radius: 15px;
}
	
.side-content img {
	width:  100%;
	border-radius: 15px;
}
.side-content dd {
	margin: 0;
}

@media screen and (min-width: 40em){
	main {
	  display: flex;
	  justify-content: space-between;
	  padding: 2rem;
	}

	.services .service {
		width: 32%;
	}
	.main-content {
	  width: 60%;
	}
	main .side-content {
	  width: 35%;
	}

}
	
/* styles for wide screen */
 
@media screen and (min-width:40em){
	
	.container {
		display: flex;
		justify-content: space-between;
	
	}

	.main-content .main-content {
		width:50%;
	} 

	.side-content .side-content{
		width:35%; 
	}
}






h2 {
	text-align: center;
	color: #875C74;

}
h3 {
	text-align: center;
		color: #1D1D1F;
		font-family: 'Poppins', sans-serif;
	background-color: #89B0AE;
		 padding: 0.5rem 0.5rem;
		margin: 1rem 1rem;
		border-radius: 15px; 
		font-size: 1rem;

}

h4 {
	text-align: center;
		color: #1D1D1F;
		font-family: 'Poppins', sans-serif;
		background-color: #89B0AE;
    padding: 0.5rem 0.5rem;
		margin: 1rem 1rem;
		border-radius: 15px; 
		font-size: 1rem;


}
h5 {
	color:#1D1D1F;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 2rem
	
}

h6 {
	color:#1D1D1F;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 2rem;
	margin: 6rem 0 0;
	
}
/* Adjusting screen size */

 @media screen and (min-width:20em){
	h1{
		font-size: 2rem;
	}
}
@media screen and (min-width:30em){

	p{
	font-size: 1.5rem;
	}
}


.location img{
	width: 100%;
	border-radius: 16px;
	margin-bottom: 1rem;
}

.hours dd {
	margin: 0;

}
.hours {
	font-size: 1.5rem;
}

@media screen and (min-width: 40em){
	.hours {
	  display: flex;
	  justify-content: space-between;
	  padding: 2rem;
	}
	.hoursoperation{
		width: 50%;
	}
	.location{
		width: 50%;
	}
}


 dl{
	 text-align:center;
	 padding: 0.5rem;
	 font-size: 1.5rem;
 }

 
 
	

footer {
	background-color: #FFE2D1;
	padding:  2.5rem 1.5rem;
	border-top-color:  1rem solid #89B0AE;
	text-align: center;
	color: #0A0909;
	border-top: 1.5rem solid #89B0AE;
}

footer li {
	display: inline-block;
}

.fa-brands {
font-style: normal;
color: #707070;
font-size: 2rem;
}
